#page {
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#banner {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}
#topNavContainer {
  display: block;
  position: relative;
  top: -130px;
  left: 400px;
}
.topNav {
  font-size: .7em;
  display: inline-block;
  position: relative;
  color: white;
  margin-left: 17px;
  margin-right: 17px;
}
.topNav:link {
  text-decoration: none;
}
.topNav:visited {
  text-decoration: none;
}
.topNav:hover {
  text-decoration: none;
}
.topNav:active {
  text-decoration: none;
}
#colA {
  width: 20px;
  display: block;
  margin: 0 auto;
  position: relative;
}
#colB {
  position: relative;
  width: 960px;
  display: block;
  margin: 0 auto;
}
#colC {
  width: 20px;
  display: block;
  margin: 0 auto;
  position: relative;
}
#footer {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
