{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Summer Travel Blog 2014</title>

<!-- Bootstrap core CSS -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
<!-- Custom styles for this template -->
<link href="{% static "css/blog.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/lightbox.css" %}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
	<script src="{% static "js/lightbox.min.js" %}"></script>
    <script>    	
    	$( document ).ready(function() {    		
			$("body").css("background", "url('/media/backgrounds/IMG_2572.JPG') no-repeat center center fixed");
			$("body").css("background-size", "cover");
    	});
	</script>
    
    
</head>

<body>
	<div class="blog-masthead">
		<div class="container">
			<nav class="blog-nav">
				<a class="blog-nav-item active" href="{% url 'index'  %}">Blog</a>
				<a class="blog-nav-item" href="/photologue/gallery/">Pictures</a>
				<a class="blog-nav-item" href="{% url 'gallery'  %}">High Res Pictures</a>
			</nav>
		</div>
	</div>

	<div class="container transparent_background">

		<div class="blog-header">
			<h1 class="blog-title">Summer Blog</h1>
		</div>

		<div class="row">

			<div class="col-sm-8 blog-main">
				<br /> <br />
				
				{% block content %}
				{% endblock %}

			</div>
			<!-- /.blog-main -->

			<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
				<div class="sidebar-module sidebar-module-inset">
					<h4><a href="/photologue">All Pictures</a></h4>
					<br />
					<h4>Schedule</h4>
					<TABLE CELLSPACING="0" COLS="2" BORDER="0" id="scheduleTable">
						<COLGROUP SPAN="2" WIDTH="107"></COLGROUP>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Bethlehem</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDVAL="41767"
								SDNUM="1033;1033;M/D/YYYY"><FONT FACE="Cambria">5/8/2014</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Cleveland</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDVAL="41767"
								SDNUM="1033;1033;M/D/YYYY"><FONT FACE="Cambria">5/8/2014</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Chicago</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">5/9-5/11</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Omaha</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDVAL="41771"
								SDNUM="1033;1033;M/D/YYYY"><FONT FACE="Cambria">5/12/2014</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Fort
									Collins</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">5/13-5/14</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Denver</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">5/15-5/18</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Sand
									Dunes NP</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDVAL="41778"
								SDNUM="1033;1033;M/D/YYYY"><FONT FACE="Cambria">5/19/2014</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Santa
									Fe</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">5/20-5/22</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Tucson</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">5/23-5/24</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Sedona</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">5/25-5/27</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Grand
									Canyon NP</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDVAL="41787"
								SDNUM="1033;1033;M/D/YYYY"><FONT FACE="Cambria">5/28/2014</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Antelope
									Canyon</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">5/29-5/30</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Mesa
									Verde NP</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">5/31-6/1</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Arches
									NP</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">6/2-6/3</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Canyonlands
									NP</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDVAL="41794"
								SDNUM="1033;1033;M/D/YYYY"><FONT FACE="Cambria">6/4/2014</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Bryce
									NP</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">6/5-6/6</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Zion
									NP</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">6/7-6/8</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Las
									Vegas</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDVAL="41799"
								SDNUM="1033;1033;M/D/YYYY"><FONT FACE="Cambria">6/9/2014</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Joshua
									Tree NP</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDVAL="41800"
								SDNUM="1033;1033;M/D/YYYY"><FONT FACE="Cambria">6/10/2014</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Los
									Angeles</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">6/10-6/17</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">San
									Diego</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria"><BR></FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">San
									Luis Obispo</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">6/18-6/19</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Monterey</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDVAL="41810"
								SDNUM="1033;1033;M/D/YYYY"><FONT FACE="Cambria">6/20/2014</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">San
									Francisco</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">6/21-6/22</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Oakland</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">6/23-6/24</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Ashland</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDVAL="41815"
								SDNUM="1033;1033;M/D/YYYY"><FONT FACE="Cambria">6/25/2014</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Crater
									Lake</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDVAL="41816"
								SDNUM="1033;1033;M/D/YYYY"><FONT FACE="Cambria">6/26/2014</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Bend</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">6/26-7/1</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Portland</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">7/2-7/4</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Seattle</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">7/5-7/7</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Whitefish</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">7/8-7/11</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Glacier
									NP</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria"><BR></FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Yellowstone
									NP</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">7/12-7/14</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Grand
									Teton NP</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">7/15-7/16</FONT></TD>
						</TR>
						<TR>
							<TD HEIGHT="21" ALIGN="LEFT" VALIGN=BOTTOM
								SDNUM="1033;1033;General"><FONT FACE="Cambria">Salt
									Lake City</FONT></TD>
							<TD ALIGN="RIGHT" VALIGN=BOTTOM SDNUM="1033;1033;General"><FONT
								FACE="Cambria">7/17-7/19</FONT></TD>
						</TR>
					</TABLE>
				</div>
				<div class="sidebar-module">
				</div>
			</div>
			<!-- /.blog-sidebar -->

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<div class="blog-footer">
	
		{% block footer %}
		{% endblock %}
		
		<br />
		
		<a href="#">Back to top</a>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static "js/bootstrap.min.js" %}" rel="stylesheet"></script>
	<script src="{% static "js/docs.min.js" %}" rel="stylesheet"></script>
	
</body>
</html>
