{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="../../assets/ico/favicon.ico">

<title>Blog Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
<!-- Custom styles for this template -->
<link href="{% static "css/blog.css" %}" rel="stylesheet" type="text/css" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
    	var img_urls = Array();
    	var post_heights = Array();
    	
    	$( document ).ready(function() {
    		$(".blog-post").each(function(index){
    			post_heights.push($(this).position().top);
    		});

    		{% for background in backgrounds %}
    			img_urls.push("{% static background.photo.url %}");
    		{% endfor %}
    		
        	$("body").css("background", "url('"+img_urls[0]+"') no-repeat center center fixed");
        	$("body").css("background-size", "cover");
    	});
    	
		$( document ).scroll(function() {
			$.each(post_heights, function( index, value ) {
				if ($( document ).scrollTop() >= value) {
					$("body").css("background", "url('"+img_urls[index]+"') no-repeat center center fixed");
					$("body").css("background-size", "cover");
				}
			});
		});
	</script>
    
    
</head>

<body>
	<div class="blog-masthead">
		<div class="container">
			<nav class="blog-nav">
				<a class="blog-nav-item active" href="#">Home</a>
				<a class="blog-nav-item" href="#">New features</a>
			</nav>
		</div>
	</div>

	<div class="container transparent_background">

		<div class="blog-header">
			<h1 class="blog-title">Summer Blog</h1>
			<p class="lead blog-description">Summer Blog of Trevor and Robin</p>
		</div>

		<div class="row">

			<div class="col-sm-8 blog-main">
				
				{% block content %}
				{% endblock %}

				<ul class="pager">
					<li><a href="#">Previous</a></li>
					<li><a href="#">Next</a></li>
				</ul>

			</div>
			<!-- /.blog-main -->

			<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
				<div class="sidebar-module sidebar-module-inset">
					<h4>About</h4>
						<p>about blog</p>
				</div>
				<div class="sidebar-module">
					<h4>Archives</h4>
					<ol class="list-unstyled">
						<li><a href="#">January 2014</a></li>
						<li><a href="#">December 2013</a></li>
					</ol>
				</div>
				<div class="sidebar-module">
					<h4>Elsewhere</h4>
					<ol class="list-unstyled">
						<li><a href="#">GitHub</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
					</ol>
				</div>
			</div>
			<!-- /.blog-sidebar -->

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<div class="blog-footer">
		<p>
			Blog Footer
		</p>
		<p>
			<a href="#">Back to top</a>
		</p>
	</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static "js/bootstrap.min.js" %}" rel="stylesheet"></script>
	<script src="{% static "js/docs.min.js" %}" rel="stylesheet"></script>
</body>
</html>
